/* Mejora de la animación moveStars */
@keyframes moveStars {
    0% {
        transform: translateY(0); /* Todos los elementos empiezan en su posición original */
    }
    50% {
        transform: translateY(-10px); /* Los elementos se mueven hacia arriba */
    }
    100% {
        transform: translateY(0); /* Los elementos regresan a su posición original */
    }
}